body {
  font-family: 'Roboto', sans-serif;
}

nav {
  max-width: 1500px;
  width: 95%;
  border-bottom: 1px solid #d6d6d6;
  margin: 150px auto 0;
  position: relative;
}

ul {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

li {
  list-style: none;
  margin: 0 3%;
  width: auto;
}

a {
  color: #929292;
  text-decoration: none;
  display: inline-block;
  font-family: 'sans-serif';
  font-family: 'Roboto', sans-serif;
  transition: all 0.2s ease;
  font-size: 16px;
}

a:hover {
  cursor: pointer;
  color: #4f81ab;
}

a:focus, a.active {
  color: #000;
}

#underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100px;
  height: 1px;
  background: #000;
  opacity: 0;
  transition: left 0.2s linear;
}

h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 900px) {
  li {
    margin: 0 2%;
  }
}

@media (max-width: 768px) {
  a {
    font-size: 12px;
  }
}